.red-border {
    background-color: #baffc2;
    border: red dashed 2px;
    border-radius: 10px;
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: red;
}

.container {
    max-width: 800px;
    background-color: #baffc2;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    margin: auto;
}

.calculate {
    margin: 10px 0;
    background-color: #baffc2;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.input-number {
    display: flex;
    margin: 10px 0;
    width: 40%;
}

.select-operation {
    margin: 10px 0;
}

input {
    width: 100%;
}

@media only screen and (max-width: 601px) {
    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .input-number {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    input {
        width: 100%;
    }
}

.result-panel {
    margin: 10px 0;
    width: 90%;
    min-height: 100px;
}

.previous-calc {
    color: rgba(255, 0, 0, 0.5);
}

.error-input {
    border: red solid 2px;
    border-radius: 10px;
}